BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
HOME_GUILD_ID=your_guild_id_here
MONGO_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/midnightpineracing?retryWrites=true&w=majority
ALLOW_STARTUP_WITHOUT_DB=true
OWNER_ID=your_discord_user_id
LEADERBOARDS_BANNER_URL=
SOLO_BOARD_BANNER_URL=
STREET_BOARD_BANNER_URL=
CIRCUIT_BOARD_BANNER_URL=
TEAMS_BANNER_URL=
ASSET_UPLOAD_CHANNEL_ID=
BOT_LOGS_CHANNEL_ID=
TEAM_HUB_CHANNEL_ID=
SUPPORT_HUB_CHANNEL_ID=
